# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log

# IDE files
.vscode/
.idea/

# Output videos or temp files
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.tmp
